*{
    margin: 0;
    padding: 0;
}

.banner {
    background-color: blue;
    height: 100vh;
    background-image: url('desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
}